<a href="https://colab.research.google.com/github/pabbavaishnavi11/Titanic-/blob/main/Titanic!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train=pd.read_csv('traintitanic.csv')
test=pd.read_csv('testtitanic.csv')
gender=pd.read_csv('gender_submission.csv')

In [ ]:
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
train.shape

(891, 12)

In [ ]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
df=train.copy()

In [ ]:
Q=df[df['Embarked']=='Q']['Fare']
S=df[df['Embarked']=='S']['Fare']
C=df[df['Embarked']=='C']['Fare']

In [ ]:

Q.mean()

13.276029870129872

In [ ]:
C.mean()

59.95414404761905

In [ ]:
S.mean()

27.07981180124218

In [ ]:
C1=df[df['Embarked']=='C']['Survived']
S1=df[df['Embarked']=='S']['Survived']
Q1=df[df['Embarked']=='Q']['Survived']

In [ ]:
C1.value_counts()

1    93
0    75
Name: Survived, dtype: int64

In [ ]:
S1.value_counts()

0    427
1    217
Name: Survived, dtype: int64

In [ ]:
Q1.value_counts()

0    47
1    30
Name: Survived, dtype: int64

In [ ]:
W=df[df['Sex']=='female']['Survived']
M=df[df['Sex']=='male']['Survived']

In [ ]:
W.value_counts()

1    233
0     81
Name: Survived, dtype: int64

In [ ]:
M.value_counts()

0    468
1    109
Name: Survived, dtype: int64

In [ ]:
O=df[df['Pclass']==1]['Survived']
T=df[df['Pclass']==2]['Survived']
TH=df[df['Pclass']==3]['Survived']

In [ ]:
O.value_counts()

1    136
0     80
Name: Survived, dtype: int64

In [ ]:
T.value_counts()

0    97
1    87
Name: Survived, dtype: int64

In [ ]:
TH.value_counts()

0    372
1    119
Name: Survived, dtype: int64

In [ ]:
a=df[df['Survived']==1]['Age']

In [ ]:
a.mean()

28.343689655172415

In [ ]:
null=df[df['Survived']==0]['Age']

In [ ]:
null.mean()

30.62617924528302

In [ ]:
train['Age'].mean()

29.69911764705882

In [ ]:
train['Age']=train['Age'].fillna(30)

In [ ]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data=train[['Age','Pclass','Fare','Sex','Embarked','Survived']]

In [ ]:
data.head()

    Age  Pclass     Fare     Sex Embarked  Survived
0  22.0       3   7.2500    male        S         0
1  38.0       1  71.2833  female        C         1
2  26.0       3   7.9250  female        S         1
3  35.0       1  53.1000  female        S         1
4  35.0       3   8.0500    male        S         0

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Embarked']=le.fit_transform(data['Embarked'])
data['Sex']=le.fit_transform(data['Sex'])

C:\Users\HP\AppData\Local\Temp\ipykernel_6840\2720026344.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Embarked']=le.fit_transform(data['Embarked'])
C:\Users\HP\AppData\Local\Temp\ipykernel_6840\2720026344.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex']=le.fit_transform(data['Sex'])

In [ ]:
data.head()

    Age  Pclass     Fare  Sex  Embarked  Survived
0  22.0       3   7.2500    1         2         0
1  38.0       1  71.2833    0         0         1
2  26.0       3   7.9250    0         2         1
3  35.0       1  53.1000    0         2         1
4  35.0       3   8.0500    1         2         0

In [ ]:
data.isna().sum()

Age         0
Pclass      0
Fare        0
Sex         0
Embarked    0
Survived    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1:]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=4)

In [ ]:
lr=LogisticRegression()

In [ ]:
lr.fit(x_train,y_train)

C:\anacondaaa3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
train_predict=lr.predict(x_train)
train_accuracy=accuracy_score(train_predict,y_train)

In [ ]:
print(train_accuracy)

0.7851123595505618

In [ ]:
test_predict=lr.predict(x_test)
accuracy_score(test_predict,y_test)

0.8212290502793296

In [ ]:
from sklearn.svm import SVC
cls=SVC(kernel='rbf',random_state=0)
cls.fit(x_train,y_train)

C:\anacondaaa3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(random_state=0)

In [ ]:
accuracy_score(cls.predict(x_train),y_train)

0.8230337078651685

In [ ]:
accuracy_score(cls.predict(x_test),y_test)

0.8435754189944135

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, random_state = 0)
classifier.fit(x_train, y_train)

C:\Users\HP\AppData\Local\Temp\ipykernel_6840\2507457799.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=0)

In [ ]:
accuracy_score(classifier.predict(x_train),y_train)

0.9676966292134831

In [ ]:
accuracy_score(classifier.predict(x_test),y_test)

0.8435754189944135

In [ ]:
from sklearn.tree import DecisionTreeClassifier
cl= DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
cl.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [ ]:
accuracy_score(cl.predict(x_test),y_test)

0.8044692737430168

In [ ]:
accuracy_score(cl.predict(x_test),y_test)

0.8044692737430168

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clsr=KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)
clsr.fit(x_train,y_train)

C:\anacondaaa3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
accuracy_score(clsr.predict(x_train),y_train)

0.8735955056179775

In [ ]:
accuracy_score(clsr.predict(x_test),y_test)

0.8435754189944135

In [ ]:
from sklearn.naive_bayes import GaussianNB
cls1=GaussianNB()
cls1.fit(x_train,y_train)

C:\anacondaaa3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
accuracy_score(cls1.predict(x_train),y_train)

0.7935393258426966

In [ ]:
accuracy_score(cls1.predict(x_test),y_test)

0.7988826815642458

TEST SET

In [ ]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
test=test[['Age','Pclass','Fare','Sex','Embarked']]

In [ ]:
test.head()

    Age  Pclass     Fare     Sex Embarked
0  34.5       3   7.8292    male        Q
1  47.0       3   7.0000  female        S
2  62.0       2   9.6875    male        Q
3  27.0       3   8.6625    male        S
4  22.0       3  12.2875  female        S

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test['Embarked']=le.fit_transform(test['Embarked'])
test['Sex']=le.fit_transform(test['Sex'])

In [ ]:
test.isna().sum()

Age         0
Pclass      0
Fare        0
Sex         0
Embarked    0
dtype: int64

In [ ]:
test['Age'].mean()

30.272590361445783

In [ ]:
test['Age']=test['Age'].fillna(30)

In [ ]:
test['Fare'].mean()

35.6271884892086

In [ ]:
test['Fare']=test['Fare'].fillna(35.6)

from sklearn.naive_bayes import GaussianNB
cls=GaussianNB()
cls.fit(x_train,y_train)

In [ ]:
y_pred1=cls.predict(x_test)
accuracy_score(y_pred1,y_test)

0.8435754189944135

In [ ]:
#print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

In [ ]:
'''from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))
'''

'from sklearn.metrics import confusion_matrix\nfrom sklearn.metrics import accuracy_score\nprint(confusion_matrix(y_test,y_pred))\nprint(accuracy_score(y_test,y_pred))\n'